suite.localhost {
	tls /etc/caddy/certs/suite.localhost.pem /etc/caddy/certs/suite.localhost-key.pem
	reverse_proxy suite:8080
}

rp.localhost {
	tls /etc/caddy/certs/rp.localhost.pem /etc/caddy/certs/rp.localhost-key.pem
	reverse_proxy rp:8080
}
