suite.test {
	tls /etc/caddy/certs/suite.test.pem /etc/caddy/certs/suite.test-key.pem
	reverse_proxy suite:8080
}

rp.test {
	tls /etc/caddy/certs/rp.test.pem /etc/caddy/certs/rp.test-key.pem
	reverse_proxy rp:8080
}
